
[submodule "vendor/k8s.io/client-go"]
	path = vendor/k8s.io/client-go
	url = https://github.com/kubernetes/client-go
	branch = release-4.0
[submodule "vendor/k8s.io/apimachinery"]
	path = vendor/k8s.io/apimachinery
	url = https://github.com/kubernetes/apimachinery
	branch = release-1.7
[submodule "vendor/github.com/golang/glog"]
	path = vendor/github.com/golang/glog
	url = https://github.com/golang/glog
